@model IEnumerable<Universal_Task.Models.City_Table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">

    <tr>
        <td>City Code</td>
        <td>City Name</td>
        <td>State Code</td>
        <td>Action</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CityCode
            </td>

            <td>
                @item.CityName
            </td>
            <td>
                @item.StateCode
            </td>
            <td>
                @Html.ActionLink("Edit", "edit", new { id = item.CityId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CityId }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }
</table>

